.footer {
  width: calc(100% - 84px);

  height: 75px;

  margin: 10px 42px 30px;

  background-color: #ff79b8;

  border-radius: 19px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer h1 {
  margin: 0;

  color: white;

  font-family: Georgia, serif;
  font-size: 44px;
  font-weight: normal;
}