@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FCF9EA;
  font-family: "Montserrat Alternates", sans-serif;
}

.app-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 42px;
}

.main-content {
  padding-top: 32px;
  padding-bottom: 6px;
}

.main-content p {
  font-size: 12px;
  color: #888;
  margin: 0;
}

@media (max-width: 768px) {
  .app-container {
    padding: 30px 15px;
  }
}